body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3248 {
  position:absolute;
  left:19px;
  top:35px;
  width:105px;
  height:85px;
}
#u3248_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3249 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u3250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3250 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3250_img.selected {
}
#u3250.selected {
}
#u3251 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3252 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u3253 {
  position:absolute;
  left:3px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u3249_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3254 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
  color:#FF8822;
}
#u3255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3255 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3256 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3257 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3258 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3259 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3260 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3261 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3262 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3263 {
  position:absolute;
  left:140px;
  top:35px;
  width:405px;
  height:35px;
}
#u3264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3264 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3265 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3266 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u3267 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3268 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3269 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3270 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3271 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3272 {
  position:absolute;
  left:140px;
  top:88px;
  width:109px;
  height:27px;
}
#u3273 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u3274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:465px;
}
#u3274 {
  position:absolute;
  left:56px;
  top:369px;
  width:880px;
  height:465px;
}
#u3275 {
  position:absolute;
  left:2px;
  top:224px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
